<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdapterName" value="BCODE"/>
    <add key="PromptPaymentPwd" value="false"/>
    <add key="PromptEnquiryPwd" value="false"/>
	<add key="PromptVoucherPwd" value="true"/>
    <add key="Vendor" value="Jamba Juice"/>
    <add key="BranchID" value="JJ00"/>
    <add key="APIURL" value="http://api.bcodeph.com/do"/>
    <add key="APIUserName" value="jamba"/>
    <add key="APIPassword" value="J4mb4ju1c32019"/>
    <add key="TimeoutRequest" value="10"/><!--TimeOut Period of HttpRequest -->
  </appSettings>
</configuration>
